/* @import url('~normalize.css/normalize.css'); */
@import url("../../node_modules/bootstrap/dist/css/bootstrap.css");

* {
  box-sizing: border-box;
}


/* TODO */

.container{
  background-color: lightblue;
}
label{
  font-weight: 700;

}
button{
  border-radius: 5px;
  color: white;
  background-color: blue;
  border-style: none;
  width: 100px;
  margin-bottom: 20px;
}
input{
  margin-bottom: 20px;
}
